:root {
    --grid-border-color: #51abff solid 5px;
}

.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.navigation-bar {
    display: flex;
    align-items: center;
    padding: 25px 75px;
    height: clamp(25px, 50px, 50px);
}

.tic-tac-toe-logo {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.heading {
    display: flex;
    align-items: center;
    font-size: clamp(1.5rem, 2.5rem, 2.5rem);
    width: 400px;
    font-weight: 700;
    color: #2F9BFF;
    gap: 7.5px;
}

.game-container {
    display: grid;
    justify-items: start;
    align-items: center;
    height: 100vh;
    grid-gap: 50px;
    grid-template-columns: 0.375fr 0.625fr;
    padding: 0 75px;
}

.player-name,
.character {
    color: #FFFFFF;
}

.game-grid {
    display: grid;
    width: clamp(350px, 500px, 500px);
    height: clamp(350px, 500px, 500px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 33px rgba(0, 0, 0, 25%);
    justify-self: start;
    border-radius: 28px;
    background: #F9F9F9;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    font-size: 5rem;
    color: #457dff;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.field:nth-child(1) {
    border-right: var(--grid-border-color);
    border-bottom: var(--grid-border-color);
    border-top-left-radius: 28px;
}

.field:nth-child(2) {
    border-bottom: var(--grid-border-color);
}

.field:nth-child(3) {
    border-left: var(--grid-border-color);
    border-bottom: var(--grid-border-color);
    border-top-right-radius: 28px;
}

.field:nth-child(4) {
    border-right: var(--grid-border-color);
}

.field:nth-child(6) {
    border-left: var(--grid-border-color);
}

.field:nth-child(7) {
    border-right: var(--grid-border-color);
    border-top: var(--grid-border-color);
    border-bottom-left-radius: 28px;
}

.field:nth-child(8) {
    border-top: var(--grid-border-color);
}

.field:nth-child(9) {
    border-left: var(--grid-border-color);
    border-top: var(--grid-border-color);
    border-bottom-right-radius: 28px;
}


.scoreboard {
    display: flex;
    flex-direction: column;
    user-select: none;
    box-shadow: 0 0 46px -12px rgba(0, 0, 0, 25%);
    width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.player1,
.player2 {
    display: grid;
    width: 450px;
    height: 75px;
    background: transparent;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    font-weight: 700;
}

.player1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.player2 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.player1>div,
.player2>div {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    padding: 10px;
}

.character {
    background: #2D2D2D;
    text-shadow: 0 0 23px rgba(0, 0, 0, 25%);
    transition: 0.3s;
}

.player1>.character {
    border-top-left-radius: 20px;
}

.player2>.character {
    border-bottom-left-radius: 20px;
}

.player1>.player-score {
    border-top-right-radius: 20px;
}

.player2>.player-score {
    border-bottom-right-radius: 20px;
}

.player-score {
    color: #4A67FF;
    background: #FFFFFF;
}

.character,
.player-score {
    justify-content: center;
}

#plr_1 {
    background: #283EFF;
}

#plr_2 {
    background: #003EDC;
}

#plr2_score {
    background: #f3f3f3;
}

#x {
    background: #343434;
}

#o {
    background: #2D2D2D;
}

.field:hover {
    background: #dcebff;
    transition: 0.3s;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    user-select: none;
}

.option-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 7.25px 12.5px;
    background: #FFFFFF;
    color: #217aff;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(12, 24, 207, 25%);
    transition: 0.3s;
    margin-top: 20px;
}



.field>span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 5rem;
    color: #457dff;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: 0.15s;
}

.option-button:hover {
    background: rgb(66, 135, 255);
    color: #FFFFFF;
    transition: 0.3s;
}

.commentary-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    color: #6a79ff;
    font-weight: 700;
    transition: 0.3s;
}